<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="podcastDownloaderConfiguration" type="Core.PodcastDownloaderConfiguration, Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <podcastDownloaderConfiguration>
    <!--<proxy>
      <address url="proxy-client.stib-mivb.be" port="3128" />
      <security userName="STIB-MIVB\delcoignev" password="*****" />
    </proxy>-->
    <musicPlayer path="C:\Program Files\VideoLAN\VLC\vlc.exe"/>
  </podcastDownloaderConfiguration>
  <!--<system.net>
    <defaultProxy>
      <proxy
        usesystemdefault="true"
        proxyaddress="proxy-client.stib-mivb.be"
        bypassonlocal="true"
      />
      <bypasslist>
        <add address="[a-z]+\.contoso\.com" />
      </bypasslist>
    </defaultProxy>
  </system.net>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>