<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="podcastDownloaderConfiguration" type="Core.PodcastDownloaderConfiguration, Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <podcastDownloaderConfiguration>
    <proxy username="STIB-MIVB\delcoignev" password="6aaX4hdq?n" />
    <musicPlayer path="C:\Program Files (x86)\MusicBee\MusicBee.exe"/>
  </podcastDownloaderConfiguration>
  <system.net>
    <defaultProxy>
      <proxy proxyaddress="http://prx.stib-mivb.be:3128" />
    </defaultProxy>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>